<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width， initial-scale-1.0">
    <title>分类</title>
<!--    引入css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="common::menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted stackable secondary menu">
            <h2 class="ui teal header item">猪猪博客</h2>
            <a href="#" target="_blank" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
            <a href="#" target="_blank" class="m-item item active m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a href="#" target="_blank" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <a href="#" target="_blank" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
            <a href="#" target="_blank" class="m-item item m-mobile-hide" ><i class=" info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
        <div class="ui menu toggle black icon button m-top-right m-mobile-show"><i class="sidebar icon"></i></div>
    </div>
</nav>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边-->
            <!-- 头部分类区域-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="ui column">
                        <h3 class="ui  teal header">分类</h3>
                    </div>
                    <div class="ui right aligned column">
                        共<h3 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(types)}">14</h3>篇
                    </div>
                </div>
            </div>
            <!--                分类内容-->
            <div class="ui attached segment m-padded-tb-large">
                <div class="ui labeled button m-margin-bottom-small" th:each="type:${types}">
                    <div th:href="@{/types/{id}(id=${type['type_id']})}" class="ui basic button " th:classappend="${type['type_id']==activeTypeId}? 'teal'" th:text="${type['name']}">思想与感悟</div>
                    <div class="ui basic left pointing label" th:classappend="${type['type_id']==activeTypeId}? 'teal'" th:text="${type['count']}">66</div>
                </div>
            </div>
            <!-- content文章-->
            <div class="ui teal top attached segment">
                <div class="ui padded vertical segment m-padded-tb-large" th:each="blog:${page.getRecords()}">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                                     class="m-black" th:text="${blog.title}">你真的会java嘛</a></h3>
                            <p class="ui m-text" th:text="${blog.description}">
                                java的内容包括数据库，spring，java有非常多的框架，需要花很多时间和精力来学习，希望大家都能学好java</p>
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/100/100/?blur=2" alt=""
                                                 th:src="@{${blog.user.avatar}}" class="ui avatar image">
                                            <div class="content"><a href="#" class="header"
                                                                    th:text="${blog.user.nickname}">ZhuZhu</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span
                                                th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-02-07</span>
                                        </div>
                                        <div class="item">s
                                            <i class="eye icon"></i><span th:text="${blog.views}">666</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" class="ui teal basic label icon m-padded-tiny m-text-thin"
                                       th:text="${blog.type.name}">自我认知</a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                <img src="https://picsum.photos/800/450/?blur=2" alt=""
                                     th:src="@{${blog.firstPicture}}" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--底部bottom-->
            <div class="ui bottom attached segment" th:if="${page.total}>${page.size}">
                <div class="ui two column grid">
                    <div class="ui column">
                        <a href="#" th:href="@{/(pn=${page.current}-1)}" th:if="${page.hasPrevious()}"
                           class="ui rounded basic teal mini button">上一页</a>
                    </div>
                    <div class="ui right aligned column">
                        <a href="#" th:href="@{/(pn=${page.current}+1)}" th:if="${page.hasNext()}"
                           class="ui rounded basic teal mini button">下一页</a>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <br>
    <br>
</div>
<!--底部footer-->
<footer th:replace="common::footer">
    <div class="ui inverted center aligned vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted teal divided stackable grid">
                <div class="ui three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.jpg" class="ui rounded image" style="width: 100px">
                        </div>
                    </div>
                </div>
                <div class="ui three wide column">
                    <h4 class="ui inverted header m-opacity-mini -thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div>
                <div class="ui five wide column">
                    <h4 class="ui inverted header m-opacity-mini  m-text-spaced">联系我们</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">qq：982709437</a>
                        <a href="#" class="item">微信:mmwr2018</a>
                        <a href="#" class="item">email：soniachoo@163com</a>
                    </div>
                </div>
                <div class="ui five wide column">
                    <h4 class="ui inverted header m-opacity-mini m-text-spaced">博客介绍</h4>
                    <p class="m-opacity-mini m-text-thin m-text-spaced">大家好，这是我的个人博客，喜欢请关注一下</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright@2021 ZhuZhu Blog Developed by ZhuZhu</p>
    </div>
</footer>

<!--/*/<th:block th:replace="common::script">/*/-->
<!--引入jquery-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<!--引入semantic-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>